h4,p{
    text-align: center;
}
img{
    max-width: 100%;
    border: 1px solid skyblue;
    border-radius: 10px;
} 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  ion-content{

    --ion-background-color:#E1D9F2;
  }