.latest-notice{ 
    border: 1px solid darkgrey;
    padding: 2px;
    background-image: url('https://i.pinimg.com/564x/e7/b7/7e/e7b77e3c2adc169aa331f39332e2c6aa.jpg');
    color: white;
  }
  h1,h2,h3,h4,h5,p{
    text-align: center;
    font-weight: bold;
 }

 ion-content{

  --ion-background-color:#E1D9F2;
}