<ion-header>  
  <ion-toolbar color="primary"> 
  <ion-buttons slot="start" routerLink="..">
    <ion-back-button></ion-back-button>
  </ion-buttons>  
    <ion-title>Student's List</ion-title> 
  </ion-toolbar>
</ion-header> 

<ion-content> 
  <ion-item *ngFor="let x of items?.data;let i=index" [routerLink]="['/attendance/', x.uid]"> <!-- , x.uid -->
    <ion-thumbnail slot="start" *ngIf="x.image!==false">
      <img src="{{ x.image}}">
    </ion-thumbnail>
    <ion-thumbnail slot="start" *ngIf="x.image==false">
      <img src="../assets/imgs/no_photo.jpg" >
    </ion-thumbnail>
    <ion-label> 
      <h3>{{ x.title }}</h3> 
      <p >C/O: {{ x.father }}</p>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="items==''">  
    <ion-label>
      <h3>No students available!</h3>
    </ion-label>
  </ion-item>
</ion-content>
<ion-footer color="primary" style="background-color:#A55EEA; color: azure; text-align: center;">
  <p>Copyright@2021</p>
</ion-footer>