.post-title{
    text-align: center;
}

.flag{
    text-align: center;
}

.post-head{
    width: 70%;
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
    padding: 5px;
    margin-left: 40px;
    border-radius: 5px;
}

.dtl-btn{
    text-align: center;
}

.center{
    border: 1px solid grey;
}

