ion-slide { 
    //width: unset !important;
    width:100% !important;
}

ion-content{
    --ion-background-color:#E1D9F2;
}

.call-btn{
    border-radius: 5px;
    background: forestgreen;
    color: white;
    text-decoration: none;
    width: 100%;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 5px;
    padding-top: 5px;
}