<ion-header>
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>  
    <ion-title>Download</ion-title>
  </ion-toolbar>   
</ion-header>  
 
<ion-content padding>  
  <ion-list>
    <ion-item *ngFor="let x of items;let i=index" [routerLink]="['/downloadpost/', x.slug]">
      <ion-label>{{x.name}} ({{x.count}})</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer color="primary" style="background-color:#A55EEA; color: azure; text-align: center;">
  <p>Copyright@2021</p>
</ion-footer>
