<ion-content class="ion-padding">

  <div class="container ion-padding"> 
    <div>
      <h2>SIGN UP</h2>
      <form #form="ngForm" (ngSubmit)="register(form)" method="post">
          <div class="primary-input">
            <ion-label>Full Name</ion-label>
            <ion-input type="text" ngModel name="username"></ion-input>
          </div>
          <div class="primary-input">
            <ion-label>Father's Name</ion-label>
            <ion-input type="text" ngModel name="father"></ion-input>
          </div>
          <div class="primary-input">
            <ion-label>Mobile Number</ion-label>
            <ion-input type="text" ngModel name="mobile"></ion-input> 
          </div>
          <div class="primary-input">
            <ion-select ngModel name="class">
              <ion-select-option value="">Select Class</ion-select-option>
              <ion-select-option *ngFor="let x of items;let i=index" value="{{x.name}}">{{x.name}}</ion-select-option>
            </ion-select>
          </div>
          <div class="primary-input"> 
            <ion-label>Email</ion-label>
            <ion-input type="email" ngModel name="email"></ion-input>
          </div>
          <div class="primary-input margin-bottom-10">
            <ion-label>Password</ion-label>
            <ion-input type="password" ngModel name="password"></ion-input>
          </div>
          <ion-button type="submit" color="primary" class="primary-button" expand="block" shape="round" routerDirection="forward">Sign Up</ion-button>
        </form>
      <!-- <div class="social">
        <ion-icon name="logo-facebook" class="fb"></ion-icon>
        <ion-icon name="logo-google" class="google"></ion-icon>
        <ion-icon name="logo-apple" class="apple"></ion-icon>
      </div> -->

      <div class="ion-text-center footer no-focus" routerLink="/login" routerDirection="back">
        <a href="#">Already have an Account? <span>Sign in</span></a>
      </div>
    </div>
  </div>
</ion-content>
