.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  div {
    width: 100%;
    text-align: center;

    h2 {
      margin-bottom: 50px;
      font-weight: bold;
    }

    .footer {
      margin-top: 26px;

      a {
        text-decoration: none;
        font-size: 14px;
        color: var(--ion-text-color);

        span {
          color: var(--ion-color-primary);
        }
      }
    }
  }
}
